# created by virtualenv automatically
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Byte-compiled / optimized / DLL files
!**/__pycache__/
*.py[cod]
*$py.class


# pcaps
*.raw
*.pcap
*.pcapng

#external repos
g729a/